/* Font */
/* imported font */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Abril+Fatface&family=Anton&family=Arizonia&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Esteban&family=Great+Vibes&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rouge+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font */
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.dark-01{
    color: #131313;
}
.dark-02{
    color: #424242;
}
.dark-03{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
}
main{
    max-width: 1440px;
    /* center align  */
    margin: 0 auto;
}
main > section{
    margin-top: 130px ;
}
/* header styles */

/* nav bar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-size: 3rem;
    font-weight: 700;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.banner-img{
    /* image responsive */
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 45px;
}

/* main part feature section */
.teams{
    margin-top: 85px;
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.out-features{
   margin-left: 76px;
   max-width: 530px;
}
#Features{
    color: #FF900E;
}
.feature-title{
    font-size: 2.82rem;
    font-size: 700;
    margin-bottom: 24px;
}
#Quick-list{
    font-weight: 500;
}
/* section of achitect */


.feature-description{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 32px;
}


/* enjoy section */
#feature-section-title{
   border-left: 5px solid #FF900E;
padding-left: 21px; 
}

.enjoy-title{
    font-size: 2.82rem;
    font-size: 700;
    border-left: 4px solid #FF900E;
    padding-left: 21px;
}
.feature-card .enjoy-title-card{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}
.enjoy{
    gap: 140px;
}
.feature-card{

    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

#exp-badge{
    padding: 45px 42px;
    font-style: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -77px;
}
#exp-year{
    font-size: 4rem;
    font-weight: 700;

}

.architect{
    width: 100%;
}


/* facts */
.fact-title{
    font-size: 2.82rem;
    font-size: 700;
    margin-bottom: 24px;
}
.fact-discription{
    max-width: 542px;
    margin-bottom: 100px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 180px;
 
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number{
    font-size: 2.82rem;
    font-weight: 600;
    margin-top: 5px ;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
/* sponsor */
.sponsor-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-tile{
    font-size: 2.82rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.sponsor-discription{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}
.sponsor-companys{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
    margin-bottom: 130px;
}
.sponsor-companys img{
    filter: grayscale(100%);
}

/* Footer section */
.footer{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 216px;
}
.footer-container{
    max-width: 620px;
    max-height: 23px;
    text-align: center;
    margin: 39px 410px;
}
.footer-detail{
    font-size: 1.25rem;
    font-weight: 400;
}

/* responsive media query */
/* small device */
@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .brand{
        text-align: center;
        font-size: 3rem;
    }
    .nav-links{
        padding: 0 auto;
        text-align: center;
    }
    .teams, .enjoy{
        flex-direction: column;
    }
    .team-img-container, .sponsor-companys{
        grid-template-columns: repeat(1, 1fr);
    }
    .out-features{
        margin-left: 20px;
    }
    .facts-container{
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      /* this is for to come the item all in center */
      justify-items: center; 
    }
    .sponsor-companys{
        justify-items: center;
        gap: 150px;
    }
    #exp-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

}
/* median size device */
@media screen and (min-width:576px) and (max-width:992px ) {
    .teams, .enjoy{
        flex-direction: column;
    }
    .out-features{
        margin: 50px auto;
    }
     .facts-container{
      grid-template-columns: repeat(2, 2fr);
      gap: 24px;
      justify-items: center; 
    }
    .sponsor-companys{
        /* what should i do for the last item to make it center  */
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 155px;
    }
    #exp-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}
